.hero {
  background-color: var(--text-dark);
  background-image: url('/hero/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 436px 0 60px;
  text-align: center;
  color: var(--text-white);
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: url('/hero/hero@2x.jpg');
  }
}

.heroTitle {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.description {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 40px;
}

.button {
  padding: 12px 88px;
}
